
#root
{
    width: 360px;
    height: 540px;
    background-color: black;
}

.container 
{
    display: flex;
    width: 420px;
    height: 560px;
    align-items: center;
    flex-direction: column;
}

.button-target
{
    font-size: 2em;
    width: 360px;
    height:90px;
    border: black 1px solid;
}